@media (max-width: 767px) {
    .navbar-nav {
        padding-left: 15px;
    }
}

.navbar-brand-custom {
    padding-left: 15px;
}

#app-iframe {
    width: 100%;
    border: none;
}

#fullscreenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}