body, html {
    height: 100%;
}

.container-fluid {
    padding: 0;
}

.scoreTxt {
    font-size: calc(30vw);
}

/* 当设备处于横屏模式时 */
@media (orientation: landscape) {
    .scoreTxt {
        font-size: calc(30vh);
    }
    .position-absolute.bottom-0 {
        bottom: 2vh;
    }
}

.position-absolute.bottom-0 {
    bottom: 2vh;
}