body, html {
    height: 100%;
}

.container-fluid {
    padding: 0;  /* 移除容器的内边距，确保全屏显示 */
}

.display-1 {
    font-size: 10rem;  /* 调整字体大小以适应全屏显示 */
}

.dropdown-toggle {
  width: 50px;
}

.dropdown-menu {
  width: 150px;
}

.position-absolute.bottom-0 {
    bottom: 2vh;  /* 使用vh单位替代固定的像素值 */
}

/* 当屏幕宽度小于768px时 */
@media (max-width: 767px) {
    .display-1 {
        font-size: 6rem;  /* 调整字体大小 */
    }
    /* 其他针对小屏幕的样式调整 */
}

/* 当设备处于横屏模式时 */
@media (orientation: landscape) {
    .display-1 {
        font-size: 8rem;  /* 调整字体大小 */
    }
    /* 其他针对横屏模式的样式调整 */
}